.contactform{
    
    position: relative;
    display: flex;
    justify-content: center;
    
    background-color: rgb(248, 83, 83);
    
    width: auto;
    height: 650px;

}


.contactform-form{
    background-color: white;
    position: absolute;
    width: 700px;
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}
.signup-heading h2{
    color: rgb(8, 8, 70);
    font-size: 35px;
    font-weight: 700;
    font-style:oblique;
    margin: 0;
    padding: 10px;
}


.form{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin:1rem 0;
   
}
.form-section{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.input-data{
    border: none;
    background-color: gainsboro;
    width:250px; 
    height:40px; 
    margin: 1rem ;
    padding:5px 10px;
}
.error{
    color: red;
    font-size: small;
    text-align:left;
    margin-left: 15px;
    
}
.form-btn{
   display:flex;
   justify-content:center;
}
.register-btn{    
    text-align:center;
    background-color: rgb(247, 32, 32);
    color: white;
    padding: 1rem;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    margin:1rem;
}
.login-btn{
    text-align:center;
    background-color:skyblue;
    color: white;
    padding: 1rem;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    margin:1rem;

}
.register-btn:hover{
    cursor:pointer;
    background-color:orange;
}

.login-btn:hover{
    cursor:pointer;
    background-color: blueviolet;
}
a{
    text-decoration: none;
    margin: 2rem 0;
}


@media screen and (max-width:1200px){
    .contactform{
        height:750px;
        margin:4rem 4rem;
    }
    .contactform-heading h2{
        font-size: 30px;
        font-weight: 800;
        line-height: 30px;
        font-style: italic;
        color: white;
        text-align: center;
        padding:2rem 0;
        
    }
    .form{
        justify-content:center;
        
    }
    .input-data{
        width:250px;
        margin: 1rem;
        padding:5px 10px;
    }
   
   
}

@media screen and (max-width:1050px){



.input-data{
    width:200px;
    margin: 1rem;
    padding:5px 10px;
}


}
@media screen and (max-width:850px){
    .contactform{
        height:550px;
        margin:2rem 0;
      
    }
    .contactform-form{
        width: 90%;
    }
    .contactform-form h1{
        margin: 5px;
        padding: 0;
        font-size:15px;
        font-weight:500px;
    }
   

.input-data{
    width:200px;
    height: 22px;
    margin: 10px ;
    padding:5px 10px;
}


}
