.login{
display: flex;
justify-content: center;
}
.login-form{
    background-color: gainsboro;
    width: 500px;
    margin: 3rem;
}
.login-input{
    width: 300px;
    height: 30px;
    margin: 1rem ;
}
.form-loginbtn{
    display:flex;
    justify-content:center;
 }
 .login-btn{
    text-align:center;
    background-color:skyblue;
    color: white;
    padding: 1rem;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    margin:1rem;

}

.login-btn:hover{
    cursor:pointer;
    background-color: blueviolet;
}
